In [8]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
                                              0.0/112.2 kB ? eta -:--:--
     -------------------------------------- 112.2/112.2 kB 6.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\users\sebas\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sebas\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1

In [17]:
import pandas as pd
import numpy as np
import requests
import html5lib

In [42]:
NASDAQ100 = pd.read_csv("NASDAQ 100.csv", sep = ";")

In [43]:
NASDAQ100

       #                        Company Symbol
0      1                      Apple Inc   AAPL
1      2                 Microsoft Corp   MSFT
2      3                 Amazon.com Inc   AMZN
3      4                    NVIDIA Corp   NVDA
4      5             Meta Platforms Inc   META
..   ...                            ...    ...
96    97             Enphase Energy Inc   ENPH
97    98         Sirius XM Holdings Inc   SIRI
98    99  Zoom Video Communications Inc     ZM
99   100                 JD.com Inc ADR     JD
100  101                Lucid Group Inc   LCID

[101 rows x 3 columns]