In [10]:
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings(action='ignore', category=ConvergenceWarning)

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_squared_error as mse

%matplotlib inline

In [11]:
#Get data
data = pd.read_csv('Master_with_technicals_news.csv')

#Get ticker data
tickers = pd.read_csv("tickers_list_news.csv")['0'].values
#Create ticker dataframe
index = []
for i in range(len(tickers)):
    index.append(i)
tickers_df = pd.DataFrame({'Index':index, 'Ticker':tickers})
tickers_df

      Index Ticker
0         0   AAPL
1         1   MSFT
2         2   GOOG
3         3  GOOGL
4         4   AMZN
...     ...    ...
1951   1951    VWE
1952   1952   RCAT
1953   1953   CURI
1954   1954   NSTS
1955   1955   STIM

[1956 rows x 2 columns]

In [12]:
#split data into X and Y
X = data.copy()
#Convert ticker to numbers in order to separate companies 
for i in range(tickers):
    for j in range(tickers):
        if X["Ticker"]==tickers_df:
        
        
X = data.drop(["date","returns_pred"], axis = 1)

Y = data["prev_returns"].copy()
Y

0        -1.250000
1        -0.541272
2        -0.450450
3         1.223862
4         1.602217
            ...
494863   -3.300914
494864   -1.279318
494865   -2.183406
494866   -1.875384
494867   -3.571429
Name: prev_returns, Length: 494868, dtype: float64

In [ ]:
pipe_lasso = make_pipeline(
    PolynomialFeatures(degree=3, include_bias=False),
    StandardScaler(),
    Lasso(random_state=1),
)