# Data processing

### Intro
This code will get the files with information of each stock and do following:
- Compute some technical indicators for each stock. Hence mfi, rsi, P/E and historical market cap
- Join all stocks together in a large datafile

In [88]:
import tqdm
import time
import os
import tqdm
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path

In [133]:
eod_path = Path.cwd()/"Eod" #path to create folder where end of day stock prices will be stored
fundamentals_path = Path.cwd()/"Fundamentals"
SingleStock_data = Path.cwd()/"SingleStock_data"
Path.mkdir(eod_path, exist_ok=True)
Path.mkdir(fundamentals_path, exist_ok = True)
Path.mkdir(SingleStock_data, exist_ok=True)

cwd = Path.cwd()

### Calculate RSI

In [114]:
amzn = pd.read_csv(SingleStock_data/"AMZN.csv")
aapl = pd.read_csv(SingleStock_data/"AAPL.csv")

In [97]:
#Convert to a temporary df
df = amzn.copy()
df["date"] =pd.to_datetime(df["date"])
df.set_index('date', inplace = True)

#calculate daily price changes
df['Price Change'] = df['adjusted_close'].diff()

# Define the lookback period for RSI calculation
lookback_period = 14

# Calculate average gain and average loss
df['Gain'] = df['Price Change'].apply(lambda x: max(x, 0))
df['Loss'] = df['Price Change'].apply(lambda x: abs(min(x, 0)))

# Calculate the average gain and average loss over the lookback period
df['Avg Gain'] = df['Gain'].rolling(window=lookback_period).mean()
df['Avg Loss'] = df['Loss'].rolling(window=lookback_period).mean()

# Calculate the relative strength (RS) and relative strength index (RSI)
df['RS'] = df['Avg Gain'] / df['Avg Loss']
df['RSI'] = 100 - (100 / (1 + df['RS']))
df['Gain']
df

,open,high,low,close,adjusted_close,volume,index,currency,epsActual,epsEstimate,epsDifference,surprisePercent,outstandingShares,Price Change,Gain,Loss,Avg Gain,Avg Loss,RS,RSI
date,,,,,,,,,,,,,,,,,,,,
2023-06-02,124.920,126.39,124.020,124.25,124.2500,61215000,28,USD,0.31,0.21,0.10,47.6190,10258000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-06-01,120.690,123.49,119.930,122.77,122.7700,54375100,29,USD,0.31,0.21,0.10,47.6190,10258000000,-1.4800,0.000,1.4800,NaN,NaN,NaN,NaN
2023-05-31,121.450,122.04,119.170,120.58,120.5800,72800800,30,USD,0.31,0.21,0.10,47.6190,10258000000,-2.1900,0.000,2.1900,NaN,NaN,NaN,NaN
2023-05-30,122.370,122.92,119.860,121.66,121.6600,64314800,31,USD,0.31,0.21,0.10,47.6190,10258000000,1.0800,1.080,0.0000,NaN,NaN,NaN,NaN
2023-05-26,116.040,121.50,116.020,120.11,120.1100,96681000,35,USD,0.31,0.21,0.10,47.6190,10258000000,-1.5500,0.000,1.5500,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-06,125.245,128.99,123.810,124.79,124.7900,135268984,389,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.7900,1.790,0.0000,2.123571,1.297143,1.637115,62.079766
2022-06-03,2484.000,2488.00,2420.929,2447.00,122.3500,97603319,392,USD,0.37,0.42,-0.05,-11.9048,10180000000,-2.4400,0.000,2.4400,1.892143,1.471429,1.285922,56.253982
2022-06-02,2433.680,2512.20,2400.900,2510.22,125.5110,100560679,393,USD,0.37,0.42,-0.05,-11.9048,10180000000,3.1610,3.161,0.0000,2.117929,1.184286,1.788359,64.136618
2022-06-01,2445.120,2503.58,2412.445,2433.68,121.6840,127528978,394,USD,0.37,0.42,-0.05,-11.9048,10180000000,-3.8270,0.000,3.8270,2.117929,1.208357,1.752734,63.672479
2022-05-31,2325.600,2439.89,2313.500,2404.19,120.2095,144634158,395,USD,0.37,0.42,-0.05,-11.9048,10180000000,-1.4745,0.000,1.4745,2.117929,1.294393,1.636233,62.067089

### Calculate MFI

In [ ]:
df = amzn.copy()
df["date"] =pd.to_datetime(df["date"])
df.set_index('date', inplace = True)

### Calculate market cap & P/E ratio

,date,open,high,low,close,adjusted_close,volume,index,currency,epsActual,epsEstimate,epsDifference,surprisePercent,outstandingShares,marketcap,PE
0,2023-06-02,124.920,126.39,124.020,124.25,124.2500,61215000,28,USD,0.31,0.21,0.10,47.6190,10258000000,1.274556e+12,400.806452
1,2023-06-01,120.690,123.49,119.930,122.77,122.7700,54375100,29,USD,0.31,0.21,0.10,47.6190,10258000000,1.259375e+12,396.032258
2,2023-05-31,121.450,122.04,119.170,120.58,120.5800,72800800,30,USD,0.31,0.21,0.10,47.6190,10258000000,1.236910e+12,388.967742
3,2023-05-30,122.370,122.92,119.860,121.66,121.6600,64314800,31,USD,0.31,0.21,0.10,47.6190,10258000000,1.247988e+12,392.451613
4,2023-05-26,116.040,121.50,116.020,120.11,120.1100,96681000,35,USD,0.31,0.21,0.10,47.6190,10258000000,1.232088e+12,387.451613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,2022-06-06,125.245,128.99,123.810,124.79,124.7900,135268984,389,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.270362e+12,337.270270
250,2022-06-03,2484.000,2488.00,2420.929,2447.00,122.3500,97603319,392,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.245523e+12,330.675676
251,2022-06-02,2433.680,2512.20,2400.900,2510.22,125.5110,100560679,393,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.277702e+12,339.218919
252,2022-06-01,2445.120,2503.58,2412.445,2433.68,121.6840,127528978,394,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.238743e+12,328.875676
253,2022-05-31,2325.600,2439.89,2313.500,2404.19,120.2095,144634158,395,USD,0.37,0.42,-0.05,-11.9048,10180000000,1.223733e+12,324.890541

## Create master dataframe:
Time to join all dataframes into one

In [ ]:
#read list with all tickers

In [131]:
def master_df(master, df, ticker):
    """
    Finds data for a single stocks and joins it to masterdataframe on=date how=left
    
    Args(pandas.DataFrame): dataframe of the company that will be joined to the master dataframe
                            the existing master dataframe
    Args(str): ticker of the company that will be joined to master dataframe
    
    returns the updated master dataframe
    """

    df["date"] = pd.to_datetime(df["date"])
    df["Ticker"] = ticker
    
    master = pd.concat([master,df])
    master["date"] = pd.to_datetime(master["date"])
    master.sort_values("date", ascending=False)
    
    return master

def compute_fundamentals(df):
    df["date"] = pd.to_datetime(df["date"])
    df["marketcap"] = df["adjusted_close"]*df["outstandingShares"]
    df["PE"] = df["adjusted_close"]/df["epsActual"]
    #RSI missing
    #MFI missing
    #Standard deviation missing
    
    return df

In [159]:
#get tickers for stocks
tickers = pd.read_csv("Tickers_final.csv")["Ticker"].values
tickers

array(['AAPL', 'MSFT', 'GOOG', ..., 'CURI', 'NSTS', 'STIM'], dtype=object)

### Master dataframe for EoD only

In [165]:

master_eod = pd.DataFrame() #define empty dataframe. THis is the final dataframe
for ticker in tqdm.tqdm(tickers):
    #get datafram from csv
    df = pd.read_csv(eod_path/f"{ticker}.csv")
    master_eod = master_df(master_eod,df,ticker)
    master_eod.to_csv("Master_eod.csv")

100%|██████████| 2022/2022 [49:11<00:00,  1.46s/it]

In [168]:
master_eod = master_eod.sort_values("date", ascending=False)