In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [11]:
file_path = Path.cwd()/"Exam final/Data collection/Financial data/Nasdaq mkt. cap 50m+.csv"
cwd = Path.cwd()

In [23]:
df = pd.read_csv(file_path)

In [24]:
df = df[["Symbol", "Market Cap"]]
df = df.reset_index(drop = True)

In [29]:
df

     Symbol    Market Cap
0      AADI  1.456480e+08
1       AAL  1.037541e+10
2      AAOI  4.767921e+08
3      AAON  5.236064e+09
4      AAPL  2.805719e+12
...     ...           ...
2183   ZUMZ  3.625572e+08
2184   ZVRA  1.829617e+08
2185   ZYME  5.080219e+08
2186   ZYNE  7.243086e+07
2187   ZYXI  2.777043e+08

[2188 rows x 2 columns]

In [32]:
dictionary = dict(zip(df["Symbol"],df["Market Cap"]))

In [33]:
data = pd.read_csv(cwd/'Exam final/Model ML/Regression/Final_df.csv', sep = ';')
data = data.drop("Unnamed: 0", axis = 1)
data["Market Cap"] = data["Ticker"].map(dictionary)

In [36]:
data.to_csv("df_final_marketcap.csv")